div {
    align-items: center ;
    align-content:space-around;
    align-content: left;
}


.mdb {
    display: flex;
    background-image: linear-gradient(#68d6c4 , #1f80ee);
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-content: left;
   
    
}

.todo {
    border-radius: 8px;
    width: 50%;
    max-width: 400px;
    background-color: aliceblue;
    flex-direction: row;
    text-align: left;
    align-content:left;
    justify-content: space-between;
    padding: 30px;
}

header {
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;

}



.mat-list-item {
    width: 100%;
    background-color: #e9e9e998;
    height: 45px;
    line-height: 45px;
    position: inherit;
    margin: 3px;
    border-radius: 3px;
}

.mat-icon-button {
    background-color: #e9e9e900;
    border-radius: 3px;
    color: #e9e9e900;
}

.lixo:hover {
    background-color: rgb(190, 0, 0);
    border-radius: 3px;
    color: aliceblue;
    transition: 30ms;
}

.lixo {
    position: absolute;
    right: 0px;
}

.footer {
    height: 30px;
}

div .add {
    display: flex;
    width: 100%;
    height: 45px;
    font-size: 28px;
    border-radius: 3px;
}

input {
    width: 85%;
    height: 100%;
    border: 1px solid #868686b0;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 3px;
}

.footer {
    display: flex;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    margin-top: 10px;

}

.footer p {
    width: 85%;
    width: 100%;
}

.mat-raised-button {
    margin: 0px 0px 0px 10px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #5f27fa;
    color: aliceblue;
    height: 45px;
    position: relative;
    right: 0px;
 }








